.header {
  background-color: #c12727;

  /* opacity: 0.7; */
}
.header-block {
  min-height: 104px;
  align-items: center;
  margin-bottom: 10px;
}
.header-block__body {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
  /* text-align: center; */
}
.header-block__logo {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 135%;
  margin-right: 40px;
  margin-left: 20px;
  text-transform: uppercase;
}
.logo {
}
.header-block__info {
  display: flex;
  justify-content: center;
  background: #c12727;
  margin-left: -5px;
}
@media all and (max-width: 280px) {
}

@media all and (min-width: 281px) and (max-width: 539px) {
  .header {
    z-index: 10;
  }
  .header-block__logo {
    font-size: 28px;
    line-height: 115%;
    font-weight: 600;
    z-index: 10;
  }
}
@media all and (min-width: 540) and (max-width: 912px) {
}
