.cart-block__body {
  margin-right: 10%;
}
.cart-block__btn {
}
.cart-btn {
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.897);
  background: #c12727;
  border-radius: 20px;
  padding: 8px 15px 5px 15px;
}
.cart-btn__price {
  color: rgba(255, 255, 255, 0.897);
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cart-btn__logo {
  margin-left: 15px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn-count__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cart-btn__count {
  color: rgba(255, 255, 255, 0.897);
  margin-right: -7px;
}
.content {
  width: 100%;
  padding: 40px;
}
.container-cart {
  margin: 30px 20%;
  line-height: 200%;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.container-cart__cart {
  margin: 5px;
}
.cart-body {
  display: flex;
  justify-content: space-between;
}
.cart-content {
  /* flex: 1 1 60%; */
  /* margin-right: 100px; */
  /* max-width: 1190px; */
  /* flex-wrap: wrap; */
}

.cart {
  margin-bottom: 40px;
}
.cart-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-title {
  font-size: 24px;
  line-height: 145%;
  color: rgb(70, 66, 66);
}

.cart-cart {
}
.cart-clear {
  display: flex;
  justify-content: space-between;
}
.clear {
  width: 18px;
  height: 18px;
}
.clear-text {
  font-size: 16px;
  line-height: 110%;
  color: rgb(136, 130, 130);
}
.cart-items {
  margin-bottom: 40px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.item-img__block {
  width: 10%;
  min-width: 80px;
  min-height: 90px;
}
.cart-img {
  max-width: 80px;
  max-height: 90px;
}
.cart-img img {
  display: block;
}
.cart-item__info {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
  margin-right: 5px;
}
.cart-item__info h3 {
  font-size: 28px;
  line-height: 110%;
  color: rgb(70, 66, 66);
}
.cart-item__info span {
  font-size: 18px;
  line-height: 110%;
  color: rgb(97, 92, 92);
}
.cart-count {
  width: 20%;
  display: flex;
  color: rgb(70, 66, 66);
  font-size: 24px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-right: 5px;
}
.cart-count b {
  margin: 0px 5px;
}
.cart-minus {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.cart-add {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.cart-price {
  display: flex;
  width: 15%;
  font-size: 24px;
  color: rgb(70, 66, 66);
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-right: 5px;
}
.price {
  margin-right: 2px;
}
.currency {
}
.cart-remove {
  width: 10%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.img-remove {
}
.cart-bottom {
  display: flex;
  flex-direction: column;
}
.cart-bottom-details {
  font-size: 18px;
  line-height: 110%;
  color: rgb(70, 66, 66);
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.cart-bottom-details span:not(:last-child) {
  margin-right: 45px;
}
.cart-bottom-btn {
  display: flex;
  justify-content: space-between;
}
.cart-btn__outline {
  border: 1px solid #aaa2a2;
  padding: 10px 25px;
  border-radius: 20px;
  display: flex;
  max-width: 350px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cart-btn__outline span {
  line-height: 150%;
  color: rgb(163, 154, 154);
}
.cart-btn__outline-img {
  display: inline-block;
  margin: 7px 0px 0px 0px;
}
.cart-pay {
  border: 1px solid #c12727;
  background: #c12727;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  display: flex;
  margin-left: 10px;
}
.cart-btn__pay {
  color: #fff;
  background: #c12727;
  line-height: 150%;
}
.cart-btn__outline:hover {
  background: #aaa2a2;
}
.cart-btn__outline span:hover {
  color: #fff;
}
.cart-pay:hover {
  background: #e81919;
}
.cart-btn__pay:hover {
  background: #e81919;
}
.clear-text:hover {
  color: rgb(40, 36, 36);
}
.clear {
  color: rgb(40, 36, 36);
}
.cart-btn:hover {
  background: #e81919;
}
.cart-empty {
  max-width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(88, 80, 80);
  font-size: 24px;
  margin-bottom: 50px;
}
.cart-empty__img {
  margin-left: 5px;
}
.cart-empty-btn {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 40%;
}
.cart-empty:hover {
  color: #e81919;
}
.container-cart__cart {
}
.container-cart__registration {
}
.container-cart__checkbox {
  width: 250px;
  height: 30px;
  line-height: 150%;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container-cart__checkbox span {
  color: rgb(40, 36, 36);
}

.btn-checkbox {
  margin-left: 10px;
}

/* ----------delivery-------------------------------------*/
/* .delivery-form__items {
  display: flex;
  flex: 0 1 40%;
  flex-direction: column;
} */
.form-items {
}
.items-title {
  color: rgb(42, 38, 38);
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 150%;
}
.form-item {
  border: 1px solid rgb(88, 80, 80);
  border-radius: 10px;
  padding: 8px;
}
.form-item:not(:last-child) {
  margin-bottom: 10px;
}
/*----------registration--------*/
.container-cart__registration {
  display: flex;
  margin-bottom: 70px;
}

/*--------------------------------PAID ORDER BLOCK----------------------------------------*/

/* .container-cart__order {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
.cart-order__pay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 200%;
}
.cart-order__pay h2 {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.cart-order__pay p {
  display: block;
  margin-bottom: 10px;
}

/*----------------------------------------------MEDIA--------------------------------------------*/

@media all and (min-width: 281px) and (max-width: 539px) {
  .cart-btn {
    padding: 6px 8px 5px 8px;
    /* flex-wrap: wrap;
    flex-direction: column; */
  }
  .btn-count__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .cart-btn__count {
    font-size: 16px;
    margin-right: -7px;
  }
  .content {
    padding: 20px;
  }
  .container-cart {
    margin: 10px 5px 10px 5px;
    line-height: 200%;
  }
  .content-title {
    font-size: 20px;
  }
  .cart-items {
  }
  .item-img__block {
    min-width: 60px;
    min-height: 70px;
  }
  .cart-item__info {
    width: 33%;
    justify-content: center;
  }
  .cart-item__info h3 {
    font-size: 18px;
  }
  .cart-item__info span {
    font-size: 14px;
    max-width: 20px;
    line-height: 110%;
  }
  .cart-count {
    width: 16%;
  }
  .cart-minus {
    width: 20px;
    height: 20px;
  }
  .cart-count b {
    font-size: 16px;
  }
  .cart-add {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .cart-price {
    width: 10%;
    font-size: 16px;
    flex-direction: column;
    line-height: 100%;
    justify-content: center;
  }
  .price {
    margin-right: 0;
  }
  .currency {
    font-size: 14px;
  }
  .cart-remove {
    width: 10%;
    width: 20px;
    justify-content: center;
    align-items: center;
  }
  .cart-bottom-details {
    font-size: 16px;
  }
  .cart-btn__outline {
    padding: 10px 15px;
    justify-content: center;
  }
  .cart-btn__outline img {
    height: 20px;
  }
  .cart-pay {
  }
  .cart-btn__pay {
  }
  .cart-empty-btn {
    margin: 0;
  }
}

@media all and (min-width: 540px) and (max-width: 1000px) {
  .content {
    padding: 6.15%;
  }
  .btn-count__body {
    flex-direction: column;
  }
  .cart-btn__count {
    font-size: 16px;
    margin-right: -7px;
  }
  .container-cart {
    margin: 30px 1%;
  }
  .cart-btn__outline {
    justify-content: center;
  }
  .cart-btn__outline img {
    height: 20px;
  }
  .cart-item__info {
    width: 30%;
  }
  .cart-item__info h3 {
    font-size: 20px;
  }
  .cart-item__info span {
    font-size: 18px;
  }
  .cart-pay {
    padding: 10px 15px;
  }
  .cart-btn__pay {
    font-size: 16px;
    text-align: center;
    align-items: center;
  }
  .cart-empty-btn {
    margin: 0 30%;
  }
  .price {
    margin-right: 2px;
    font-size: 24px;
  }
  .currency {
    font-size: 20px;
  }
}
@media all and (min-width: 913px) and (max-width: 1280px) {
  .content {
    margin: 10px;
  }
  .container-cart {
    margin: 30px 10%;
  }
}
