.registration-btn {
  margin-right: 10px;
  font-size: 16px;
}
.btn-outline {
  border: 1px solid rgb(56, 47, 47);
  background: #fff;
  padding: 20px 15px;
  border-radius: 8px;
}
.registration {
  margin-left: 50px;
}
.form-checkbox {
  margin-bottom: 10px;
}
.form-items {
}
.form-item {
  max-width: 350px;
  margin-bottom: 10px;
}
.btn-form {
  border: 1px solid rgb(85, 82, 82);
  background: #fff;
  padding: 10px 158px;
  border-radius: 10px;
  color: rgb(48, 41, 41);
  margin-bottom: 50px;
}
.form-errors {
  color: rgb(182, 14, 14);
  border: none;
  margin-bottom: 5px;
}
