.content-block {
  height: 100%;
  overflow: hidden;
  margin: 0px 1% 1% 1%;
}
.categories-menu {
  display: none;
}
.content-bottom {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.admin {
  float: right;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.admin-btn {
  padding: 10px 15px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid rgb(152, 149, 149);
  color: rgb(152, 149, 149);
}

/*----------------------------------------------MEDIA--------------------------------------------*/

@media all and (min-width: 281px) and (max-width: 539px) {
  .categories-menu {
    display: block;
  }

  .content-block {
  }
  .content-bottom {
    margin: 0 20%;
  }
  ._lock {
    overflow: hidden !important;
  }
}
