.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}
.active {
  opacity: 1;
  pointer-events: all;
}
.pay-page {
  background-color: #f1f1f1;
  padding: 40px;
  min-height: 667px;
  border-radius: 20px;
}
.text-center {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  justify-content: center;
}
.card {
  max-height: 650px;
  position: relative;
}
.card-wrapper {
  width: 751px;
  height: 381px;
  /* border: 1px solid #cecece; */
  position: relative;
  margin-bottom: 50px;
}
.card-back,
.card-front {
  width: 535px;
  height: 343px;
  border: 1px solid #cecece;
  border-radius: 15px;
  position: absolute;
  margin-top: 20px;
}
.card-back {
  right: 0;
  bottom: 0;
  background: #ececec;
}
.card-back-line {
  background: #c0c0c0;
  min-width: 100%;
  height: 80px;
  position: absolute;
  top: 50px;
}
.card-cvc {
  position: absolute;
  right: 40px;
  bottom: 112px;
  max-width: 100px;
  padding: 5px;
  font-size: 28px;
  text-align: center;
}
.card-front {
  background: #fff;
}
.card-bank {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 28px;
}
.card-logo {
  font-size: 28px;
  position: absolute;
  bottom: 40px;
  right: 30px;
}
.card-name {
  position: absolute;
  min-width: 90%;
  margin: 0 5%;
  background: #f1f1f1;
  padding: 5px;
  border: none;
  outline: none;
  top: 185px;
  left: 0;
  font-size: 24px;
}
.card-number {
  position: absolute;
  min-width: 90%;
  margin: 0 5%;
  background: #f1f1f1;
  padding: 5px;
  border: none;
  outline: none;
  top: 115px;
  left: 0;
  font-size: 24px;
}
.expiry-block {
  border: 1px soli #000;
  height: 100px;
}
.card-expiry {
  position: absolute;
  max-width: 100px;
  text-align: center;
  background: #f1f1f1;
  padding: 5px;
  border: none;
  outline: none;
  bottom: 40px;
  left: 5%;
  font-size: 24px;
}

.btn-pay {
  /* position: absolute; */
  background: #cecece;
  border: 1px solid #cecece;
  padding: 15px 100px;
  border-radius: 5px;
  /* margin-left: 250px; */
  min-width: 100%;
  font-size: 20px;
  /* bottom: 140px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-body__inline {
  /* position: absolute; */
  /* margin: 40px 50px 0px 50px; */
  font-size: 16px;
  /* bottom: 25%; */
  /* padding: 10px 10px; */
  background-color: #f1f1f1;
  border: none;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-inline {
  color: rgb(175, 24, 44);
}
.errorCvc {
  position: absolute;
  right: 0px;
  bottom: 150px;
  min-width: 200px;
  padding: 5px 0;
  font-size: 12px;
  color: red;
  margin-bottom: 5px;
}
.errorNumber {
  position: absolute;
  left: 25px;
  bottom: 220px;
  min-width: 200px;
  padding: 5px 0;
  font-size: 12px;
  color: red;
  margin-bottom: 5px;
}
.errorName {
  position: absolute;
  left: 25px;
  bottom: 147px;
  min-width: 200px;
  padding: 5px 0;
  font-size: 12px;
  color: red;
  margin-bottom: 5px;
}
.errorExpiry {
  position: absolute;
  left: 25px;
  bottom: 78px;
  min-width: 200px;
  padding: 5px 0;
  font-size: 12px;
  color: red;
  margin-bottom: 5px;
}
/*----------------------------------------------MEDIA--------------------------------------------*/
@media all and (min-width: 281px) and (max-width: 540px),
  (orientation: landscape) {
  .pay-page {
    max-width: 100%;
    padding: 70px 1px 70px 1px;
    overflow: hidden;
  }
  .text-center {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0;
  }
  .card {
    max-height: 360px;
  }
  .card {
    max-width: 370px;
    max-height: 220px;
  }
  .card-back,
  .card-front {
    max-width: 265px;
    max-height: 210px;
  }
  .card-back {
    margin: 0 22px 0px 0px;
  }
  .card-bank {
    top: 20px;
    left: 15px;
    font-size: 18px;
  }
  .card-logo {
    font-size: 18px;
    bottom: 10px;
    right: 15px;
  }
  .card-name {
    max-width: 90%;
    margin: 0 5%;
    top: 110px;
    font-size: 14px;
    padding: 5px;
  }
  .errorName {
    left: 25px;
    bottom: 83px;
    font-size: 10px;
    margin: 0 0 5px -10px;
  }
  .card-number {
    max-width: 90%;
    margin: 0 5%;
    padding: 5px;
    top: 60px;
    font-size: 14px;
  }
  .errorNumber {
    bottom: 132px;
    font-size: 10px;
    margin: 0 0 5px -10px;
  }
  .card-expiry {
    max-width: 60px;
    padding: 5px;
    bottom: 15px;
    left: 5%;
    font-size: 14px;
  }
  .errorExpiry {
    bottom: 28px;
    font-size: 10px;
    margin: 0 0 5px -10px;
  }
  .btn-pay {
    padding: 5px 25px;
    /* margin-left: 125px; */
    font-size: 16px;
    margin-top: 30px;
    /* bottom: -65px; */
  }
  .btn-body__inline {
    /* margin-left: 28px; */
    margin-top: 60px;
  }
  .btn-inline {
    font-size: 12px;
    padding: 10px 30px;
  }

  .card-wrapper {
    max-width: 390px;
    max-height: 210px;
    margin-bottom: 25px;
  }
  .card-back-line {
    height: 30px;
    top: 45px;
  }
  .card-cvc {
    right: 20px;
    bottom: 56px;
    max-width: 50px;
    font-size: 16px;
  }
  .errorCvc {
    left: 100px;
    bottom: 75px;
    font-size: 10px;
    max-width: 150px;
    text-align: end;
    /* margin: 0 0 5px -10px; */
  }
}
@media all and (min-width: 541) and (max-width: 1024px) {
  .btn-pay {
    /* bottom: -90px; */
  }
  .btn-body__inline {
    /* top: 71%; */
    /* padding: 0;
    margin: 0; */
    /* margin-left: 310px; */
    align-items: center;
    justify-content: center;
  }
}
