.sort {
  max-width: 200px;
  margin-right: 20px;
  padding-right: 10px;
  position: relative;
}

.sort-block {
  display: flex;
  position: relative;
}

.sort-block span {
  color: rgb(180, 27, 27);
  text-decoration: underline;
}
.sort-block span:hover {
  color: rgb(138, 8, 8);
}
.sort-title {
  margin-right: 5px;
}
.popup-body {
  line-height: 180%;
  flex-direction: column;
  position: absolute;
  display: block;
  background: rgb(250, 248, 248);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgb(233, 227, 227);
  margin-top: 10px;
  margin-left: 50px;
}
.popup {
  /* margin-bottom: 10px; */
  margin-left: 5px;
  color: rgb(114, 98, 98);
  /* text-align: right; */
}
.popup:hover {
  color: rgb(66, 51, 51);
}

.popup-active {
  margin-left: 5px;
  color: rgb(233, 92, 92);
  text-decoration: underline;
  /* text-align: right; */
}
.popup-active:hover {
  color: rgb(224, 49, 49);
}
/*----------------------------------------------MEDIA--------------------------------------------*/
@media all and (min-width: 281px) and (max-width: 540px),
  (orientation: landscape) {
  .sort {
    font-size: 16px;
    font-weight: 500;
  }
  .sort-title {
    margin-right: 2px;
  }
  .popup-body {
    margin-left: 75px;
    line-height: 130%;
  }
  .popup {
    margin-bottom: 10px;
  }
  .popup-active {
    margin-bottom: 10px;
  }
}
@media all and (min-width: 541) and (max-width: 1024px) {
  .sort {
  }
  .sort-block {
  }

  .popup-body {
  }
}
